[Desktop Entry]
Name=QRGen
Comment=QR Code Generator
GenericName=Utilities
Exec=/usr/bin/python ".local/share/QRGen/qrgen.py"
Icon=.local/share/applications/QRGen/default.png
Type=Application
StartupNotify=true
StartupWMClass=com.wheelerwire.qrcodegen
Categories=GNOME;GTK;Utility;
MimeType=text/plain;
Terminal=false